MetropolisMC
VMD_snapshot.txt
Proposal.aux
Proposal.log
Proposal.synctex.gz
.DS_Store
code/MC
code/test.dSYM/Contents/Info.plist
code/test.dSYM/Contents/Resources/DWARF/test
code/test
mpiData/MeltingTemp/MC
mpiData/MeltingTemp/energies.txt
mpiData/MeltingTemp/getEnergies.sh
mpiData/MeltingTemp/meltingTemp.sh
mpiData/MeltingTemp/meltingTemp_1.00.txt
mpiData/MeltingTemp/meltingTemp_1.05.txt
mpiData/MeltingTemp/meltingTemp_1.10.txt
mpiData/MeltingTemp/meltingTemp_1.15.txt
mpiData/MeltingTemp/meltingTemp_1.20.txt
mpiData/MeltingTemp/meltingTemp_1.25.txt
mpiData/MeltingTemp/meltingTemp_1.30.txt
mpiData/MeltingTemp/meltingTemp_1.35.txt
mpiData/MeltingTemp/meltingTemp_1.40.txt
mpiData/MeltingTemp/meltingTemp_1.45.txt
mpiData/MeltingTemp/meltingTemp_1.50.txt
mpiData/PhaseDiagram/MC
mpiData/PhaseDiagram/getPDInfo.sh
mpiData/PhaseDiagram/pdInfo.txt
mpiData/PhaseDiagram/phaseDiagram.sh
mpiData/PhaseDiagram/phaseDiagram_0.5.txt
mpiData/PhaseDiagram/phaseDiagram_0.55.txt
mpiData/PhaseDiagram/phaseDiagram_0.60.txt
mpiData/PhaseDiagram/phaseDiagram_0.65.txt
mpiData/PhaseDiagram/phaseDiagram_0.70.txt
mpiData/PhaseDiagram/phaseDiagram_0.75.txt
mpiData/PhaseDiagram/phaseDiagram_0.80.txt
mpiData/PhaseDiagram/phaseDiagram_0.85.txt
mpiData/PhaseDiagram/phaseDiagram_0.90.txt
mpiData/PhaseDiagram/phaseDiagram_0.95.txt
mpiData/PhaseDiagram/phaseDiagram_1.00.txt
mpiData/PhaseDiagram/phaseDiagram_1.05.txt
mpiData/PhaseDiagram/phaseDiagram_1.10.txt
mpiData/mpiData.xlsx
oldSerialData/MeltingTemp/energies.txt
oldSerialData/MeltingTemp/getEnergies.sh
oldSerialData/MeltingTemp/meltingTemp.sh
oldSerialData/MeltingTemp/meltingTemp_0.5.txt
oldSerialData/MeltingTemp/meltingTemp_0.55.txt
oldSerialData/MeltingTemp/meltingTemp_0.60.txt
oldSerialData/MeltingTemp/meltingTemp_0.65.txt
oldSerialData/MeltingTemp/meltingTemp_0.70.txt
oldSerialData/MeltingTemp/meltingTemp_0.75.txt
oldSerialData/MeltingTemp/meltingTemp_0.80.txt
oldSerialData/MeltingTemp/meltingTemp_0.85.txt
oldSerialData/MeltingTemp/meltingTemp_0.90.txt
oldSerialData/MeltingTemp/meltingTemp_0.95.txt
oldSerialData/MeltingTemp/meltingTemp_1.00.txt
oldSerialData/MeltingTemp/meltingTemp_1.05.txt
oldSerialData/MeltingTemp/meltingTemp_1.10.txt
oldSerialData/MeltingTemp/meltingTemp_1.15.txt
oldSerialData/MeltingTemp/meltingTemp_1.20.txt
oldSerialData/MeltingTemp/meltingTemp_1.25.txt
oldSerialData/MeltingTemp/meltingTemp_1.30.txt
oldSerialData/MeltingTemp/meltingTemp_1.35.txt
oldSerialData/MeltingTemp/meltingTemp_1.40.txt
oldSerialData/MeltingTemp/meltingTemp_1.45.txt
oldSerialData/MeltingTemp/meltingTemp_1.50.txt
oldSerialData/MeltingTemp/meltingTemp_1.55.txt
oldSerialData/MeltingTemp/meltingTemp_1.60.txt
oldSerialData/MeltingTemp/meltingTemp_1.65.txt
oldSerialData/MeltingTemp/meltingTemp_1.70.txt
oldSerialData/MeltingTemp/meltingTemp_1.75.txt
oldSerialData/MeltingTemp/meltingTemp_1.80.txt
oldSerialData/MeltingTemp/meltingTemp_1.85.txt
oldSerialData/MeltingTemp/meltingTemp_1.90.txt
oldSerialData/MeltingTemp/meltingTemp_1.95.txt
oldSerialData/MeltingTemp/meltingTemp_2.00.txt
oldSerialData/PhaseDiagram/pdInfo.txt
oldSerialData/PhaseDiagram/phaseDiagram.sh
oldSerialData/PhaseDiagram/phaseDiagram_0.5.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.55.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.60.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.65.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.70.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.75.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.80.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.85.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.90.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.95.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.00.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.05.txt
oldSerialData/oldSerialData.xlsx
classSerialData/MeltingTemp/MC
classSerialData/MeltingTemp/getEnergies.sh
classSerialData/MeltingTemp/meltingTemp.sh
classSerialData/MeltingTemp/meltingTemp_1.00.txt
classSerialData/MeltingTemp/meltingTemp_1.05.txt
classSerialData/MeltingTemp/meltingTemp_1.10.txt
classSerialData/MeltingTemp/meltingTemp_1.15.txt
classSerialData/MeltingTemp/meltingTemp_1.20.txt
classSerialData/MeltingTemp/meltingTemp_1.25.txt
classSerialData/MeltingTemp/meltingTemp_1.30.txt
classSerialData/MeltingTemp/meltingTemp_1.35.txt
classSerialData/MeltingTemp/meltingTemp_1.40.txt
classSerialData/MeltingTemp/meltingTemp_1.45.txt
classSerialData/MeltingTemp/meltingTemp_1.50.txt
classSerialData/PhaseDiagram/MC
classSerialData/PhaseDiagram/getPDInfo.sh
classSerialData/PhaseDiagram/phaseDiagram.sh
classSerialData/PhaseDiagram/phaseDiagram_0.5.txt
classSerialData/PhaseDiagram/phaseDiagram_0.55.txt
classSerialData/PhaseDiagram/phaseDiagram_0.60.txt
classSerialData/PhaseDiagram/phaseDiagram_0.65.txt
classSerialData/PhaseDiagram/phaseDiagram_0.70.txt
classSerialData/PhaseDiagram/phaseDiagram_0.75.txt
classSerialData/PhaseDiagram/phaseDiagram_0.80.txt
classSerialData/PhaseDiagram/phaseDiagram_0.85.txt
classSerialData/PhaseDiagram/phaseDiagram_0.90.txt
classSerialData/PhaseDiagram/phaseDiagram_0.95.txt
classSerialData/PhaseDiagram/phaseDiagram_1.00.txt
classSerialData/PhaseDiagram/phaseDiagram_1.05.txt
classSerialData/PhaseDiagram/phaseDiagram_1.10.txt
classSerialData/classSerialData.xlsx
classSerialData/timing/MC
classSerialData/timing/scaling_100.txt
classSerialData/timing/scaling_1000.txt
classSerialData/timing/scaling_10000.txt
classSerialData/timing/scaling_500.txt
classSerialData/timing/scaling_5000.txt
classSerialData/timing/timing.sh
classSerialData/~$classSerialData.xlsx
mpiData/timing/MC
mpiData/timing/MPI16_OMP1.txt
mpiData/timing/MPI1_OMP16.txt
mpiData/timing/MPI2_OMP8.txt
mpiData/timing/MPI4_OMP4.txt
mpiData/timing/MPI8_OMP2.txt
mpiData/timing/MPIproc_1.txt
mpiData/timing/MPIproc_12.txt
mpiData/timing/MPIproc_16.txt
mpiData/timing/MPIproc_2.txt
mpiData/timing/MPIproc_4.txt
mpiData/timing/MPIproc_6.txt
mpiData/timing/MPIproc_8.txt
mpiData/timing/OMPproc_1.txt
mpiData/timing/OMPproc_12.txt
mpiData/timing/OMPproc_16.txt
mpiData/timing/OMPproc_2.txt
mpiData/timing/OMPproc_4.txt
mpiData/timing/OMPproc_6.txt
mpiData/timing/OMPproc_8.txt
mpiData/timing/scaling_100.txt
mpiData/timing/scaling_1000.txt
mpiData/timing/scaling_10000.txt
mpiData/timing/scaling_500.txt
mpiData/timing/scaling_5000.txt
mpiData/timing/timing.sh
mpiData/timing/timing2.sh