MetropolisMC
VMD_snapshot.txt
Proposal.aux
Proposal.log
Proposal.synctex.gz
.DS_Store
code/MC
code/test.dSYM/Contents/Info.plist
code/test.dSYM/Contents/Resources/DWARF/test
code/test
mpiData/~$Data.xlsx
mpiData/
reports/
oldSerialData/MeltingTemp/energies.txt
oldSerialData/MeltingTemp/getEnergies.sh
oldSerialData/MeltingTemp/meltingTemp.sh
oldSerialData/MeltingTemp/meltingTemp_0.5.txt
oldSerialData/MeltingTemp/meltingTemp_0.55.txt
oldSerialData/MeltingTemp/meltingTemp_0.60.txt
oldSerialData/MeltingTemp/meltingTemp_0.65.txt
oldSerialData/MeltingTemp/meltingTemp_0.70.txt
oldSerialData/MeltingTemp/meltingTemp_0.75.txt
oldSerialData/MeltingTemp/meltingTemp_0.80.txt
oldSerialData/MeltingTemp/meltingTemp_0.85.txt
oldSerialData/MeltingTemp/meltingTemp_0.90.txt
oldSerialData/MeltingTemp/meltingTemp_0.95.txt
oldSerialData/MeltingTemp/meltingTemp_1.00.txt
oldSerialData/MeltingTemp/meltingTemp_1.05.txt
oldSerialData/MeltingTemp/meltingTemp_1.10.txt
oldSerialData/MeltingTemp/meltingTemp_1.15.txt
oldSerialData/MeltingTemp/meltingTemp_1.20.txt
oldSerialData/MeltingTemp/meltingTemp_1.25.txt
oldSerialData/MeltingTemp/meltingTemp_1.30.txt
oldSerialData/MeltingTemp/meltingTemp_1.35.txt
oldSerialData/MeltingTemp/meltingTemp_1.40.txt
oldSerialData/MeltingTemp/meltingTemp_1.45.txt
oldSerialData/MeltingTemp/meltingTemp_1.50.txt
oldSerialData/MeltingTemp/meltingTemp_1.55.txt
oldSerialData/MeltingTemp/meltingTemp_1.60.txt
oldSerialData/MeltingTemp/meltingTemp_1.65.txt
oldSerialData/MeltingTemp/meltingTemp_1.70.txt
oldSerialData/MeltingTemp/meltingTemp_1.75.txt
oldSerialData/MeltingTemp/meltingTemp_1.80.txt
oldSerialData/MeltingTemp/meltingTemp_1.85.txt
oldSerialData/MeltingTemp/meltingTemp_1.90.txt
oldSerialData/MeltingTemp/meltingTemp_1.95.txt
oldSerialData/MeltingTemp/meltingTemp_2.00.txt
oldSerialData/PhaseDiagram/pdInfo.txt
oldSerialData/PhaseDiagram/phaseDiagram.sh
oldSerialData/PhaseDiagram/phaseDiagram_0.5.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.55.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.60.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.65.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.70.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.75.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.80.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.85.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.90.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.95.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.00.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.05.txt
oldSerialData/oldSerialData.xlsx
oldSerialData/MeltingTemp/energies.txt
oldSerialData/MeltingTemp/getEnergies.sh
oldSerialData/MeltingTemp/meltingTemp.sh
oldSerialData/MeltingTemp/meltingTemp_0.5.txt
oldSerialData/MeltingTemp/meltingTemp_0.55.txt
oldSerialData/MeltingTemp/meltingTemp_0.60.txt
oldSerialData/MeltingTemp/meltingTemp_0.65.txt
oldSerialData/MeltingTemp/meltingTemp_0.70.txt
oldSerialData/MeltingTemp/meltingTemp_0.75.txt
oldSerialData/MeltingTemp/meltingTemp_0.80.txt
oldSerialData/MeltingTemp/meltingTemp_0.85.txt
oldSerialData/MeltingTemp/meltingTemp_0.90.txt
oldSerialData/MeltingTemp/meltingTemp_0.95.txt
oldSerialData/MeltingTemp/meltingTemp_1.00.txt
oldSerialData/MeltingTemp/meltingTemp_1.05.txt
oldSerialData/MeltingTemp/meltingTemp_1.10.txt
oldSerialData/MeltingTemp/meltingTemp_1.15.txt
oldSerialData/MeltingTemp/meltingTemp_1.20.txt
oldSerialData/MeltingTemp/meltingTemp_1.25.txt
oldSerialData/MeltingTemp/meltingTemp_1.30.txt
oldSerialData/MeltingTemp/meltingTemp_1.35.txt
oldSerialData/MeltingTemp/meltingTemp_1.40.txt
oldSerialData/MeltingTemp/meltingTemp_1.45.txt
oldSerialData/MeltingTemp/meltingTemp_1.50.txt
oldSerialData/MeltingTemp/meltingTemp_1.55.txt
oldSerialData/MeltingTemp/meltingTemp_1.60.txt
oldSerialData/MeltingTemp/meltingTemp_1.65.txt
oldSerialData/MeltingTemp/meltingTemp_1.70.txt
oldSerialData/MeltingTemp/meltingTemp_1.75.txt
oldSerialData/MeltingTemp/meltingTemp_1.80.txt
oldSerialData/MeltingTemp/meltingTemp_1.85.txt
oldSerialData/MeltingTemp/meltingTemp_1.90.txt
oldSerialData/MeltingTemp/meltingTemp_1.95.txt
oldSerialData/MeltingTemp/meltingTemp_2.00.txt
oldSerialData/PhaseDiagram/pdInfo.txt
oldSerialData/PhaseDiagram/phaseDiagram.sh
oldSerialData/PhaseDiagram/phaseDiagram_0.5.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.55.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.60.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.65.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.70.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.75.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.80.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.85.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.90.txt
oldSerialData/PhaseDiagram/phaseDiagram_0.95.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.00.txt
oldSerialData/PhaseDiagram/phaseDiagram_1.05.txt
oldSerialData/oldSerialData.xlsx